* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	height: 100vh;
	background: #1f2937;
	display: grid;
	grid-template-columns: 15% 1fr;
}

aside {
	background: #3460f0;
	padding: 10%;
}

main {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
	grid-template-rows: auto 1fr;
}

header {
	background: #1f2937;
}

section {
	background: #0f172a;
}

.logo {
	display: flex;
	align-items: center;
}

.logo svg {
	width: 40px;
	margin-right: 15px;
	stroke: #070707;
}

ul {
	margin-top: 50px;
	list-style: none;
}

.sidebar-list a {
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 10px;
	color: #070707;
}

.sidebar-list svg {
	width: 26px;
	stroke: #070707;
}

.settings {
	margin-top: 50px;
}

header {
	padding: 15px 50px;
	display: grid;
	grid-template: max-content / 1fr max-content;
}

.searchbar {
	display: grid;
	gap: 10px;
	align-items: center;
	grid-template-columns: max-content 0.5fr;
}

.searchbar svg {
	width: 18px;
	stroke: #ffffff;
}

#search {
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 10px;
}

.user-menu {
	display: flex;
	align-items: center;
	gap: 20px;
	color: #ffffff;
}

.user-menu svg {
	width: 24px;
	stroke: #ffffff;
}

.avatar {
	display: block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

button {
	padding: 5px 15px;
	font-size: 18px;
	border: none;
	background: #2563eb;
	margin-right: 15px;
	margin-top: 15px;
}

section {
	padding: 30px;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 15px;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto repeat(3, 1fr);
	gap: 15px;
}

.section-title {
	grid-column: 1 / -1;
	color: #ffffff;
}

.project {
	background: #06b6d4;
	padding: 30px;
	gap: 10px;
}

.project h5 {
	margin-bottom: 15px;
}

.notifications {
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns: 1fr;
	gap: 15px;
}

.news {
	padding: 20px 15px;
	background: #16a34a;
}

.news-title {
	margin-bottom: 15px;
}

.trending-title {
	color: #ffffff;
}

.trending-accounts {
	margin-top: 20px;
	padding: 15px;
	background: #2563eb;
	color: white;
}

.trending-accounts h3 {
	margin-bottom: 10px;
}
